<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Description" />
    <meta name="keywords" content="Keywords" />
    <meta name="author" content="lee.chang" />
    <meta
      name="viewport"
      content="width=device-width initial-scale=1 minimum-scale=1 maximum-scale=1 user-scalable=no"
    />
    <title>音频播放器</title>
    <style></style>
    <link rel="stylesheet" href="./font/iconfont.css" />
    <link rel="stylesheet" href="./css/index.css" />
  </head>

  <body>
    <div id="app"></div>
    <script src="./js/vue.min.js"></script>
    <script src="./js/utils.js"></script>
    <script src="./js/progressBar.js"></script>
    <script>
      new Vue({
        el: "#app",
        template: `
          <div class="lc__audio">
            <audio preload="auto" ref="audioRef">
                <source :src="audio[selectMusicIndex].src" type="audio/mpeg">
            </audio>
            <div class="lc_control_wrapper">
              <div class="audio-avatar"></div>
              <div class="audio-info">
                <div class="flex-b-center">
                  <p>{{ audio[selectMusicIndex].title }} ---- {{ audio[selectMusicIndex].artist }}</p>
                  <span v-if="duration">{{ dealWithTime(time) + '/' + dealWithTime(duration) }}</span>
                </div>
                <progress-bar v-model="nowAudioProgress" @mousedown="audioMouseDownAction" @mouseup="audioMouseUpAction" />
              </div> 
              
              <div class="lc__audio_control">
                <span class="iconfont icon-prev" @click="prevAudio"></span>
                <div class="lc__audio_play">
                  <span v-if="playStatus === 0" class="iconfont icon-play" @click="audioControl"></span>
                  <span v-else-if="playStatus === 1" class="iconfont icon-loading audio-loading" @click="endAudio"></span>
                  <span v-else class="iconfont icon-stop" @click="endAudio"></span>
                </div>
                <span class="iconfont icon-next" @click="nextAudio"></span>
              </div>

              <div class="play__volume">
                <progress-bar v-model="nowVolume" @mouseup="volumeMouseUpAction" />
              </div>
              
              <div class="play__rate">
                <div class="r__selected" @click="isRateShow = !isRateShow">x{{ rateList[selectRateIndex] }}</div>
                <ul v-show="isRateShow">
                  <li v-for="(rItem, rIndex) in rateList" :key="'rate'+rIndex" @click="changeRate(rIndex)">
                    {{ rItem }}
                  </li>  
                </ul>
              </div>

              <div class="play__list">
                <i class="icon-list"  @click="isListShow = !isListShow">播放列表</i>
                <div class="audio-list"  v-show="isListShow">
                  <div class="flex-b-center">
                    <p>播放列表{{ audio.length }}</p> 
                    <i>清空列表</i> 
                  </div>
                  <ul>
                    <li v-for="(aItem, aIndex) in audio" class="flex-b-center">
                      <p>{{ aItem.title }}</p>  
                      <p>{{ aItem.artist }}</p> 
                      <p>10天前</p> 
                    </li>  
                  </ul>  
                </div>
              </div>
            </div>
          </div>
        `,
        data() {
          return {
            selectMusicIndex: 0,
            audio: [
              {
                title: "踏山河",
                artist: "七叔",
                src: "http://img1.yanqingkong.com/Public/css/1.mp3",
              },
              {
                title: "Despacito",
                artist: "Luis Fonsi",
                src: "http://img1.yanqingkong.com/Public/css/943789652.mp3",
              },
            ],
            audioEl: null,
            duration: 0,
            playStatus: 0,
            time: 0,
            nowAudioProgress: 0,
            isDrag: false,
            isLoadAndDrag: false,
            nowPercentage: 0,
            rateList: ["0.5", "0.75", "1.0", "1.5", "2.0"],
            selectRateIndex: 2,
            isRateShow: false,
            isListShow: false,
            nowVolume: 1,
          };
        },
        created() {
          this.$nextTick(() => {
            var volEl = this.$refs.volumeProgressRef;
            this.volumeWidth =
              volEl && volEl.getBoundingClientRect().width * this.nowVolume;
          });
        },
        mounted() {
          this.$nextTick(() => {
            this.audioEl = this.$refs.audioRef;

            this.audioEl.addEventListener("error", (...data) => {
              console.log("error", data);
            });

            this.audioEl.addEventListener("play", (...data) => {
              console.log("play", data);
              console.log(this.audioEl.duration);
            });

            this.audioEl.addEventListener("playing", (...data) => {
              console.log("playing", data);
            });

            this.audioEl.addEventListener("canplaythrough", (...data) => {
              // self.audio.play();
            });

            this.audioEl.addEventListener("readystatechange", (...data) => {
              console.log("readystatechange", data);
            });
          });
        },
        watch: {
          playStatus(value) {
            console.log(value);
          },
          time(value) {
            if (this.isDrag) return;
            this.nowAudioProgress = this.time / this.duration;
          },
        },
        methods: {
          // 音频松开事件
          audioMouseUpAction(event) {
            this.time = this.audioEl.currentTime = this.nowAudioProgress * this.duration;
            this.isDrag = false;
          },
          // 音频按下事件
          audioMouseDownAction(event) {
            console.log('音频按下事件', 1)
            this.isDrag = true;
          },
          // 音量控制松开事件
          volumeMouseUpAction(event) {
            this.audioEl.volume = this.nowVolume;
          },
          changeRate(index) {
            this.selectRateIndex = index;
            this.$refs.audioRef.playbackRate = this.rateList[index];
            this.isRateShow = false;
          },
          prevAudio() {
            this.endAudio();
            this.audioEl.load();
            this.selectMusicIndex = this.selectMusicIndex - 1;
            this.selectMusicIndex =
              this.selectMusicIndex < 0
                ? this.audio.length - 1
                : this.selectMusicIndex;
            console.log(this.audio[this.selectMusicIndex]);
            this.startAudio();
          },
          nextAudio() {
            this.endAudio();
            this.audioEl.load();
            this.selectMusicIndex = this.selectMusicIndex + 1;
            console.log(this.selectMusicIndex, this.audio.length);
            this.selectMusicIndex =
              this.selectMusicIndex >= this.audio.length
                ? 0
                : this.selectMusicIndex;
            console.log(this.audio[this.selectMusicIndex]);
            this.startAudio();
          },
          audioControl() {
            this.startAudio();
          },
          endAudio() {
            this.$refs.audioRef.pause();
            this.playStatus = 0;
            console.log(this.playStatus);
          },
          startAudio() {
            this.$refs.audioRef.play();
            this.playStatus = 1;
            this.audioEl.addEventListener(
              "timeupdate",
              this.updateAudio,
              false
            );
            this.audioEl.addEventListener("ended", this.nextAudio, false);
          },
          updateAudio() {
            if (this.audioEl.paused) return;
            if (this.time > 0) {
              this.playStatus = 2;
            }
            // console.log('记录时间:'+this.time, '当前时间:'+ this.audio.currentTime)
            if (this.time > this.audioEl.currentTime) {
              // this.audio.pause();
            }
            this.duration = this.audioEl.duration;
            if (!this.isLoadAndDrag) {
              this.time = this.audioEl.currentTime =
                this.nowAudioProgress * this.duration;
              this.isLoadAndDrag = true;
            } else {
              this.time = this.audioEl.currentTime || 0;
            }
          },
        },
      });
    </script>
  </body>
</html>
