<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Description" />
    <meta name="keywords" content="Keywords" />
    <meta name="author" content="lee.chang" />
    <meta
      name="viewport"
      content="width=device-width initial-scale=1 minimum-scale=1 maximum-scale=1 user-scalable=no"
    />
    <title>音频播放器</title>
    <style></style>
    <script src="./js/vue.min.js"></script>
    <script src="./js/utils.js"></script>
    <link rel="stylesheet" href="./font/iconfont.css" />
    <link rel="stylesheet" href="./css/index.css" />
  </head>

  <body>
    <div id="app"></div>
    <script>
      new Vue({
        el: "#app",
        template: `
          <div class="lc__audio">
            <audio preload="auto" ref="audioRef">
                <source :src="audio[selectMusicIndex].src" type="audio/mpeg">
            </audio>
            <div class="lc_control_wrapper">
              <div class="audio-avatar"></div>
              <div class="audio-info">
                <div class="flex-b-center">
                  <p>{{ audio[selectMusicIndex].title }} ---- {{ audio[selectMusicIndex].artist }}</p>
                  <span v-if="duration">{{ dealWithTime(time) + '/' + dealWithTime(duration) }}</span>
                </div>
                <div class="play__progress">
                  <div class="lc__progress" ref="progressRef" @mousedown="mouseDownAction" @mouseup="mouseUpAction" >
                    <div class="progress__now" :style="{width: nowProgress+'px'}">
                      <i class="ic-progressor" :style="{right: - 6 + 'px'}" ref="progressControlRef" ></i>
                    </div> 
                  </div> 
                </div>
              </div> 
              
              <div class="lc__audio_control">
                <span class="iconfont icon-prev" @click="prevAudio"></span>
                <div class="lc__audio_play">
                  <span v-if="playStatus === 0" class="iconfont icon-play" @click="audioControl"></span>
                  <span v-else-if="playStatus === 1" class="iconfont icon-loading audio-loading" @click="endAudio"></span>
                  <span v-else class="iconfont icon-stop" @click="endAudio"></span>
                </div>
                <span class="iconfont icon-next" @click="nextAudio"></span>
              </div>

              <div class="play__volume">
                <div class="play__progress">
                  <div class="lc__progress" ref="volumeProgressRef" @mousedown="volumeMouseDownAction" @mouseup="volumeMouseUpAction" >
                    <div class="progress__now" :style="{width: nowVolume*volumeWidth+'px'}">
                      <i class="ic-progressor" :style="{right: - 6 + 'px'}" ref="progressControlRef" ></i>
                    </div> 
                  </div> 
                  </div> 
                </div>
              </div>
              
              <div class="play__rate">
                <div class="r__selected" @click="isRateShow = !isRateShow">x{{ rateList[selectRateIndex] }}</div>
                <ul v-show="isRateShow">
                  <li v-for="(rItem, rIndex) in rateList" :key="'rate'+rIndex" @click="changeRate(rIndex)">
                    {{ rItem }}
                  </li>  
                </ul>
              </div>

              <div class="play__list">
                <i class="icon-list"  @click="isListShow = !isListShow">播放列表</i>
                <div class="audio-list"  v-show="isListShow">
                  <div class="flex-b-center">
                    <p>播放列表{{ audio.length }}</p> 
                    <i>清空列表</i> 
                  </div>
                  <ul>
                    <li v-for="(aItem, aIndex) in audio" class="flex-b-center">
                      <p>{{ aItem.title }}</p>  
                      <p>{{ aItem.artist }}</p> 
                      <p>10天前</p> 
                    </li>  
                  </ul>  
                </div>
              </div>
            </div>
          </div>
        `,
        data() {
          return {
            selectMusicIndex: 0,
            audio: [
              {
                title: "踏山河",
                artist: "七叔",
                src: "http://img1.yanqingkong.com/Public/css/1.mp3",
              },
              {
                title: "Despacito",
                artist: "Luis Fonsi",
                src: "http://img1.yanqingkong.com/Public/css/943789652.mp3",
              },
            ],
            audioEl: null,
            duration: 0,
            playStatus: 0,
            time: 0,
            nowProgress: 0,
            isDrag: false,
            isLoadAndDrag: false,
            nowPercentage: 0,
            rateList: ["0.5", "0.75", "1.0", "1.5", "2.0"],
            selectRateIndex: 2,
            isRateShow: false,
            isListShow: false,
            nowVolume: 1,
            volumeWidth: 0,
            // progressControlStyle: {left: '-6px'}
          };
        },
        created() {
          this.$nextTick(() => {
            var volEl = this.$refs.volumeProgressRef;
            this.volumeWidth =
              volEl && volEl.getBoundingClientRect().width * this.nowVolume;
          });
        },
        mounted() {
          this.$nextTick(() => {
            this.audioEl = this.$refs.audioRef;
            // console.log('当前音频');
            // console.log(this.audio);

            document.addEventListener("mouseup", () => {
              console.log(1);
              this.isDrag = false;
              this.$refs.progressRef.onmousemove = null;
              this.$refs.progressRef.onmouseenter = null;
              this.$refs.progressRef.onmouseleave = null;
              this.$refs.volumeProgressRef.onmousemove = null;
              this.$refs.volumeProgressRef.onmouseenter = null;
              this.$refs.volumeProgressRef.onmouseleave = null;
            });

            this.audioEl.addEventListener("error", (...data) => {
              console.log("error", data);
            });

            this.audioEl.addEventListener("play", (...data) => {
              console.log("play", data);
              console.log(this.audioEl.duration);
              // this.audioEl.currentTime = this.time;
              // this.duration = this.audioEl.duration;
              // console.log(self.audio.currentTime)
              // if (this.audio.currentTime === 0) {

              // }
              //     setTimeout(function () {
              //         console.log('currentTime:'+Math.round(self.audio.currentTime));
              //         if (self.audio.currentTime < 0.1) {
              //             self.endAudio()
              //         }
              //     }, 1000)
            });

            this.audioEl.addEventListener("playing", (...data) => {
              console.log("playing", data);
            });

            this.audioEl.addEventListener("canplaythrough", (...data) => {
              // self.audio.play();
            });

            this.audioEl.addEventListener("readystatechange", (...data) => {
              console.log("readystatechange", data);
            });
          });
        },
        watch: {
          playStatus(value) {
            console.log(value);
          },
          time(value) {
            if (this.isDrag) return;
            var progressEl = this.$refs.progressRef;
            if (progressEl) {
              this.nowProgress =
                (this.time / this.duration) *
                progressEl.getBoundingClientRect().width;
              // this.progressControlStyle = {left: this.nowProgress - 6 + 'px'}
            }
          },
        },
        methods: {
          volumeMouseDownAction(event) {
            if (!this.volumeWidth) {
              var volEl = this.$refs.volumeProgressRef;
              this.volumeWidth =
                volEl && volEl.getBoundingClientRect().width * this.nowVolume;
            }
            var x1 =
              event.clientX -
              this.$refs.volumeProgressRef.getBoundingClientRect().left;
            this.nowVolume = x1/this.volumeWidth;
            this.$refs.volumeProgressRef.onmousemove = (e) => {
              console.log("move", e.clientX, e.clientY);
              console.log(
                "left",
                this.$refs.volumeProgressRef.getBoundingClientRect().left
              );
              var x2 = e.clientX - event.clientX;
              this.nowVolume = (x1 + x2)/this.volumeWidth;
              console.log(e);
              console.log('音量：', this.nowVolume)
            };
            this.$refs.volumeProgressRef.onmouseleave = this.volumeMouseLeaveAction;
          },
          volumeMouseMoveAction(event) {
            console.log("move", event.clientX, event.clientY);
            console.log(event);
          },
          volumeMouseLeaveAction(event) {
            this.$refs.volumeProgressRef.onmousemove = null;
            this.$refs.volumeProgressRef.onmouseenter = this.volumeMouseEnterAction;
          },
          volumeMouseEnterAction(event) {
            this.volumeMouseDownAction(event);
          },
          volumeMouseUpAction(event) {
            console.log("up");
            this.$refs.volumeProgressRef.onmousemove = null;
            this.$refs.volumeProgressRef.onmouseenter = null;
            this.$refs.volumeProgressRef.onmouseleave = null;
            console.dir(this.$refs.progressRef);
            console.log(this.audioEl.currentTime, this.time);
            console.log('音量up',this.nowVolume)
            this.audioEl.volume = this.nowVolume
          },
          changeRate(index) {
            this.selectRateIndex = index;
            this.$refs.audioRef.playbackRate = this.rateList[index];
            this.isRateShow = false;
          },
          mouseDownAction(event) {
            this.isDrag = true;
            console.log(event.clientX, event.clientY);
            var x1 =
              event.clientX -
              this.$refs.progressRef.getBoundingClientRect().left;
            this.nowProgress = x1;
            this.$refs.progressRef.onmousemove = (e) => {
              console.log("move", e.clientX, e.clientY);
              console.log(
                "left",
                this.$refs.progressRef.getBoundingClientRect().left
              );
              var x2 = e.clientX - event.clientX;
              this.nowProgress = x1 + x2;
              console.log(e);
              console.log(this.nowProgress);
            };
            this.$refs.progressRef.onmouseleave = this.mouseLeaveAction;
          },
          mouseMoveAction(event) {
            console.log("move", event.clientX, event.clientY);
            console.log(event);
          },
          mouseLeaveAction(event) {
            this.$refs.progressRef.onmousemove = null;
            this.$refs.progressRef.onmouseenter = this.mouseEnterAction;
          },
          mouseEnterAction(event) {
            this.mouseDownAction(event);
          },
          mouseUpAction(event) {
            console.log("up");
            this.isDrag = false;
            this.$refs.progressRef.onmousemove = null;
            this.$refs.progressRef.onmouseenter = null;
            this.$refs.progressRef.onmouseleave = null;
            console.dir(this.$refs.progressRef);
            console.log(this.audioEl.currentTime, this.time);
            this.nowPercentage =
              this.nowProgress /
              this.$refs.progressRef.getBoundingClientRect().width;
            this.time = this.audioEl.currentTime =
              this.nowPercentage * this.duration;
          },
          prevAudio() {
            this.endAudio();
            this.audioEl.load();
            this.selectMusicIndex = this.selectMusicIndex - 1;
            this.selectMusicIndex =
              this.selectMusicIndex < 0
                ? this.audio.length - 1
                : this.selectMusicIndex;
            console.log(this.audio[this.selectMusicIndex]);
            this.startAudio();
          },
          nextAudio() {
            this.endAudio();
            this.audioEl.load();
            this.selectMusicIndex = this.selectMusicIndex + 1;
            console.log(this.selectMusicIndex, this.audio.length);
            this.selectMusicIndex =
              this.selectMusicIndex >= this.audio.length
                ? 0
                : this.selectMusicIndex;
            console.log(this.audio[this.selectMusicIndex]);
            this.startAudio();
          },
          audioControl() {
            this.startAudio();
          },
          endAudio() {
            this.$refs.audioRef.pause();
            this.playStatus = 0;
            console.log(this.playStatus);
          },
          startAudio() {
            this.$refs.audioRef.play();
            this.playStatus = 1;
            this.audioEl.addEventListener(
              "timeupdate",
              this.updateAudio,
              false
            );
            this.audioEl.addEventListener("ended", this.nextAudio, false);
          },
          updateAudio() {
            if (this.audioEl.paused) return;
            if (this.time > 0) {
              this.playStatus = 2;
            }
            // console.log('记录时间:'+this.time, '当前时间:'+ this.audio.currentTime)
            if (this.time > this.audioEl.currentTime) {
              // this.audio.pause();
            }
            this.duration = this.audioEl.duration;
            if (!this.isLoadAndDrag) {
              this.time = this.audioEl.currentTime =
                this.nowPercentage * this.duration;
              this.isLoadAndDrag = true;
            } else {
              this.time = this.audioEl.currentTime || 0;
            }
          },
        },
      });
    </script>
  </body>
</html>
